@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForestCore</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />





    <!--Стили-->
   
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />


        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <!--fonts-->
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'><!--//fonts-->
        <!-- start menu -->
        <link href="~/css/memenu.css" rel="stylesheet" type="text/css" media="all" />


    <!--Скрипты-->
   

        <script src="~/lib/jquery/dist/jquery.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

        <script type="text/javascript" src="~/js/memenu.js"></script>
        <script>$(document).ready(function () { $(".memenu").memenu(); });</script>

        <script src="~/js/simpleCart.min.js"> </script>







    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

    <!--header-->
    <div class="header">
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img style="max-width: 10%;" src="~/images/logo.png" alt=""></a>
                </div>
                <div class=" h_menu4">
                    <ul class="memenu skyblue">
                        <li class="active grid"><a class="color8" href="@Url.Action("Index","Home")">Home</a></li>

                        <li class="grid">
                            <a class="color2" href="#">Категории</a>
                            <div class="mepanel">
                                <div class="row">
                                    <div class="col1">
                                        <div class="h_nav">
                                            <ul>
                                                <div id="category"></div>
                                                <script>

                                                    $.get('@Url.Action("GetCategories", "Home")',null, function(content){
                                                            $("#category").html(content);
                                                        });
                                                </script>
                                            </ul>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </li>
                        <li><a class="color4" href="@Url.Action("Blog", "Home")">Блог</a></li>
                        <li><a class="color6" href="@Url.Action("Contact", "Home")">Контакты</a></li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>

    </div>


    @RenderBody()

    <footer>

        <div class="footer">
            <div class="container">
                <div class="footer-top-at">

                    <div class="col-md-4 amet-sed">
                        <h4>MORE INFO</h4>
                        <ul class="nav-bottom">
                            <li><a href="#">How to order</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="contact.html">Location</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Membership</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 amet-sed ">
                        <h4>CONTACT US</h4>

                        <p>
                            Contrary to popular belief
                        </p>
                        <p>The standard chunk</p>
                        <p>office:  +12 34 995 0792</p>
                        <ul class="social">
                            <li><a href="#"><i> </i></a></li>
                            <li><a href="#"><i class="twitter"> </i></a></li>
                            <li><a href="#"><i class="rss"> </i></a></li>
                            <li><a href="#"><i class="gmail"> </i></a></li>

                        </ul>
                    </div>
                    <div class="col-md-4 amet-sed">
                        <h4>Newsletter</h4>
                        <p>
                            Sign Up to get all news update
                            and promo
                        </p>
                        <form>
                            <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                            <input type="submit" value="Sign up">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="footer-class">
                <p>© 2015 New store All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
            </div>
        </div>
    </footer>


    @RenderSection("Scripts", required: false)

 

    
</body>
</html>
